div.ligaContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

div#sectionTabla {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
/* div#sectionLiga div.sectionTabla {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

div#sectionLiga div.sectionFixture {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
} */
