nav#navAside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
  padding-right: 5px;
}

nav#navAside h2{
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav#navAside img {
  object-fit: contain;
  object-position: top;
  width: 50px;
  height: 50px;
}

nav#navAside div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

nav#navAside ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

nav#navAside li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color ease-in-out 0.5s;
}

nav#navAside li.active,
nav#navAside li:hover {
  border-radius: 4px;
  background-color: rgba(232, 238, 255, 0.664);
}