
nav#navSeasons,
nav#navTeams{
    /*tiene opacidad*/
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ccd6f6;
    background-color: rgb(113, 146, 255);
}

nav#navSeasons h2,
nav#navSeasons li
{
    color: #ccd6f6;
}
nav#navSeasons li:hover{
    color: #3b4f92;
    text-shadow: 0 0 15px #475da3;
}
.seasons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
  }
  

  .season-grid-item {
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .season-logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
  }
