
nav#navSeasons,
nav#navTeams{
    /*tiene opacidad*/
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ccd6f6;
    background-color: rgba(10, 25, 47, 0.486);
}

nav#navSeasons h2,
nav#navSeasons li
{
    color: #ccd6f6;
}
nav#navSeasons li:hover{
    color: #84a0fc;
    text-shadow: 0 0 15px #84a0fc;
}
.seasons-grid,
.teams-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
  }
  
  .teams-grid{
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

  }

  .team-grid-item,
  .season-grid-item {
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .season-logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
  }

  .team-logo{
    width: 40px;
    height: auto;
    margin-bottom: 10px;
  }