div.asd{
  padding: 1rem
}

nav#navLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
  padding-right: 5px;
}

nav#navLinks h2{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav#navLinks img {
  object-fit: contain;
  object-position: top;
  width: 50px;
  height: 50px;
}

nav#navLinks div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

nav#navLinks ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

nav#navLinks li {
  color: rgb(215, 213, 255);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.45s;
}

nav#navLinks li.active,
nav#navLinks li:hover {
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgb(58, 55, 255);
}