nav#navLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
  padding-right: 5px;
}

nav#navLinks h2{
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav#navLinks img {
  object-fit: contain;
  object-position: top;
  width: 50px;
  height: 50px;
}

nav#navLinks div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

nav#navLinks ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

nav#navLinks li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color ease-in-out 0.5s;
}

nav#navLinks li.active,
nav#navLinks li:hover {
  border-radius: 4px;
  background-color: rgba(232, 238, 255, 0.664);
}