section#sectionCopa section#sectionFaseGrupos{
    display: flex;
    flex-direction: column;
}

section#sectionFaseGrupos .sectionTabla{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

section#sectionFaseGrupos .articleTablaEquipos{
    width: 35%;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
}

section#sectionFaseGrupos .sectionFixture{
    width: 60%;
}

section#sectionFaseGrupos .articleFixtureGrupos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
