

div.articleFixtureRegular table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.0em;
}

div.articleFixtureRegular thead th,
div.articleFixtureRegular tbody th {
  color: rgb(255, 255, 255);
  background-color: rgb(18, 17, 95);
  text-align: center;
}
div.articleFixtureRegular tbody td {
  padding: 6px;
  text-align: center;
}

div.articleFixtureRegular thead th:nth-child(1){
    width: 25%;
}
div.articleFixtureRegular thead th:nth-child(3),
div.articleFixtureRegular thead th:nth-child(4){
  width: 5%;
  text-align: center;
}

div.articleFixtureRegular thead th:nth-child(2){
    width: 42.5%;
}


div.articleFixtureRegular thead th:nth-child(5){
    width: 42.5%;
}

div.articleFixtureRegular tbody tr:nth-child(even) {
  color: rgb(255, 255, 255);
  background-color: rgb(97, 94, 253);
}

div.articleFixtureRegular tbody tr:nth-child(odd) {
  color: rgb(255, 255, 255);
  background-color: rgb(65, 61, 255);
}

div.articleFixtureRegular tbody td:nth-child(2) {
  text-align: right;
}
div.articleFixtureRegular tbody td:nth-child(5) {
  text-align: left;
}
div.articleFixtureRegular tbody td:nth-child(1),
div.articleFixtureRegular tbody td:nth-child(3),
div.articleFixtureRegular tbody td:nth-child(4){
  padding: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(18, 17, 95);
}


div.articleFixtureRegular tbody td img {
    width: 20px;
}
div.articleFixtureRegular div.btnFixture {
  text-align: center;
  color: white;
  background-color: rgb(23, 22, 43);
}

div.articleFixtureRegular div.btnFixture button {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 5px;
  border: none;
  background-color:  rgb(65, 61, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

div.articleFixtureRegular div.btnFixture button.active {

  background-color:  rgb(255, 61, 158);

}