article.articleFixtureRegular tr.trJornadaName,
article.articleFixtureGrupos tr.trJornadaName,
article.articleFixtureEliminacion tr.trJornadaName{
    background-color: rgba(10, 25, 47, 0.486);
    color:rgb(204, 214, 246);
}

article.articleFixtureRegular th,
article.articleFixtureEliminacion th,
article.articleFixtureGrupos th{
    padding: 2px 2px 2px 8px;
}


article.articleFixtureRegular div.btnFixture{
    margin: 0 auto;
    background-color: #0a192f7c;
}

article.articleFixtureRegular div.btnFixture button{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 5px;
    border: none;
    background-color: #0a192f7c;
    color: #d8e1ff;
    cursor: pointer;
}

article.articleFixtureRegular table,
article.articleFixtureEliminacion table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: small;
}

article.articleFixtureGrupos table{
    width: 49%;
    text-align: center;
    border-collapse: collapse;
    font-size: small;
}

article.articleFixtureRegular td.tdDataTeam,
article.articleFixtureEliminacion td.tdDataTeam,
article.articleFixtureGrupos td.tdDataTeam{
    width: 45%;
    border-bottom: 1px solid #0a192f7c ;
    background-color: #d8e1ff;; /* Color para filas impares */
}

article.articleFixtureRegular td.tdDataTeam div,
article.articleFixtureEliminacion td.tdDataTeam div,
article.articleFixtureGrupos td.tdDataTeam div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article.articleFixtureRegular td.tdDataResult,
article.articleFixtureEliminacion td.tdDataResult,
article.articleFixtureGrupos td.tdDataResult{
    width: 5%;
    background-color: #0a192f7c;
    border-bottom: 1px solid #d8e1ff ;
    color: #d8e1ff;
}

article.articleFixtureRegular tr:last-child td.tdDataResult,
article.articleFixtureEliminacion tr:last-child td.tdDataResult,
article.articleFixtureGrupos td.tdDataResult{
    border-bottom: none;
}


td.tdDataTeam img, td.tdDataTeam span
{
    display: block;
}

.thDateMatch {
    background-color: rgba(10, 25, 47, 0.486);
    color:rgb(204, 214, 246);
}