header#headerPrincipal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(18, 17, 95);
    color: white;
    padding: 8px;
    width: 100%;
    display: flex;
    padding: 1rem
}

main#mainPrincipal {
  display: flex;
  flex-direction: row;
}

aside#asidePrincipal {
  height: 100vh;
  background-color: rgb(18, 17, 95);
  overflow-y: auto; /* para que el contenido del aside sea desplazable si es necesario */
}

section#sectionInicio,
section#sectionLiga,
section#sectionCopa {
  width: 100%;
  padding-top: 70px;
  height: 100vh;
}

div.containerLiga::-webkit-scrollbar,
div.containerCopa::-webkit-scrollbar,
div.containerInicio::-webkit-scrollbar,
#asidePrincipal::-webkit-scrollbar {
  height: 16px;
  width: 16px; /* Ancho de la barra de desplazamiento vertical */
}
div.containerLiga::-webkit-scrollbar-track,
div.containerCopa::-webkit-scrollbar-track,
div.containerInicio::-webkit-scrollbar-track,
#asidePrincipal::-webkit-scrollbar-track {
  background: rgb(58, 55, 255); /* Color de la pista de la barra de desplazamiento */
}

div.containerCopa::-webkit-scrollbar-thumb,
div.containerLiga::-webkit-scrollbar-thumb,
div.containerInicio::-webkit-scrollbar-thumb,
#asidePrincipal::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255); /* Color de la "thumb" de la barra de desplazamiento */
  border-radius: 10px; /* Redondear esquinas */
  border: 2px solid rgb(58, 55, 255); /* Espacio alrededor de la "thumb" */
  box-shadow: 0px 0px 15px -5px rgb(58, 55, 255);
}


div.containerLiga,
div.containerCopa,
div.containerInicio{
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}

img {
  width: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

li:hover {
  cursor: pointer;
}


@media(min-width:1200px){
  header#headerPrincipal,
  aside#asidePrincipal {
  width: 20%;
}

aside#asidePrincipal{
  padding-top: 80px
}

section#sectionInicio,
section#sectionLiga,
section#sectionCopa {
  padding: 0;
  width: 80%;
}
}